@import "tailwindcss";

/* Use class-based dark mode*/
@custom-variant dark (&:where(.dark, .dark *));


@theme {

  /* Brand */
  --color-primary: #2563EB;
  --color-secondary: #4F46E5;
  --color-accent: #EC4899;

  /* Surface */
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;

} 

html {
  scroll-behavior: smooth;
}

body {
  
    font-family:"Plus Jakarta Sans",sans-serif;
    background:#F8FAFC;
    color: #0F172A;
    transition: background-color 0.3s ease,color, 0.3s ease;
}
.dark body{
  background: #020617;
  color: #F8FAFC;
}

::selection {
  background: #2563eb;
  color: white;
}


/* ============================
   Floating Hero Icons
============================ */

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float{
  animation: float 7s ease-in-out infinite;
}